<div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body text-center">
        <img src="./../../../assets/images/trips.jpg" alt="Tour Plans" class="img-fluid rounded mb-3" style="max-height: 150px;">
        <h5 class="card-title mt-3">Tour Plans</h5>
        <p class="card-text">Add new records for hotels, guests, and more.</p>
        <button class="btn btn-primary w-100" [routerLink]="['/plans']">Plans</button> <!-- This routes to /plans -->
      </div>
    </div>
  </div>
  