<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tour Management System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" *ngIf="isLoggedIn()">Dashboard</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register-admin']" *ngIf="isLoggedIn()">
              <i class="bi bi-person-plus"></i> Register Admin
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()" *ngIf="isLoggedIn()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <main [class.auth-background]="isLoggedIn()"></main>
  <!-- Only display the current routed component -->
  <router-outlet></router-outlet>
</main>

<footer class="text-center py-3 bg-light mt-auto">
  <p>© 2024 Tour Management System</p>
</footer>
