<div class="container d-flex flex-column align-items-center">
    <h1 class="text-center mb-4">Hotel Registration Login</h1>
  
    <form [formGroup]="loginForm" class="login-form">
      <div class="mb-3">
        <label for="loginid" class="form-label">Email</label>
        <input
          type="text"
          id="loginid"
          formControlName="loginid"
          class="form-control"
          placeholder="Enter Email"
        >
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter password"
        >
      </div>
  
      <div class="d-grid gap-2">
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Login</button>
        <button type="button" (click)="onRegister()" class="btn btn-secondary">Register</button>
      </div>
      
    </form>
  </div>
  