<div class="container">
    <br>
    <h5>Registered Details</h5>
    <div class="mb-3">
      <input [(ngModel)]="searchQuery" (input)="searchUsers()" class="form-control" placeholder="Search by name or ID" />
    </div>
    <div>
      <div class="table-striped" style="width:100%">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Location</th>
              <th>Gender</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.location}}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>
                <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
                <button (click)="updateUser(user.id)" class="btn btn-warning">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  