<!-- Main Login Section -->
<div class="container mt-5">
  <div class="card mx-auto shadow-lg glass-effect" style="max-width: 400px;">
    <div class="card-body">
      <h2 class="text-center mb-4">Admin Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group mt-4">
          <label for="password">Password</label>
          <div class="input-group">
            <input type="{{passwordFieldType}}" formControlName="password" class="form-control" />
            <button type="button" class="input-group-text" (click)="togglePasswordVisibility()">
              <i class="bi" [ngClass]="passwordFieldType === 'password' ? 'bi-lock' : 'bi-lock-open'"></i>
            </button>
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          </div>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-danger mt-3 text-center">{{ errorMessage }}</div>
    </div>
  </div>
</div>

