<div class="container mt-5">
  <h2>Guest List</h2>

  <a [routerLink]="'/create-guest'" class="btn btn-success mb-3">Add New Guest</a>

  <!-- Search bar -->
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    (input)="onSearch()" 
    placeholder="Search by ID, Name or Email" 
    class="form-control mb-3"
  />

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Booking Details</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of filteredGuests">
        <td>{{ guest.id }}</td>
        <td>{{ guest.name }}</td>
        <td>{{ guest.email }}</td>
        <td>{{ guest.bookingDetails }}</td>
        <td>
          <div class="button-group">
            <button (click)="editGuest(guest.id)" class="btn btn-edit">Edit</button>
            <button (click)="deleteGuest(guest.id)" class="btn btn-delete">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
